html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	/* background-color: white; */
}

/* Option 1 to change background color of the scene is to set background color of the body as the default background is transparent in react three fiber */
/* body {
	background-color: aqua;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
